body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.logo {
    width: 150px;
    margin: 0;
    padding: 0;
    margin-bottom: -12px;
}

.error{
    color: rgb(255, 79, 79);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}