:root {
--header-bg-color: #b22222;    /* Rojo fuego */
--select-tab-border: #800000;  /* Rojo oscuro */
--select-tab-shadow: #881010;  /* Marrón rojizo */
--button-shadow: #800000;      /* Rojo oscuro */
--header-h2-color: white;      /* Blanco */
--header-text-color: white;    /* Blanco */
}
  

body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

header {
    padding: 0;
    font-family: "Anton", sans-serif;
    height: 10vh;
    background: var(--header-bg-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 0;
    box-shadow: 5px 0px 7px rgb(161, 161, 161);
}

header nav{
    padding: 0;
    /* padding-top: 5vh; */
    width: 100%;
    height: 10vh;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
}

/* header h2{
    font-weight: 100;
    color: var(--header-h2-color);
    font-size: 1.3rem;
    margin-bottom: 0;
} */

header ul{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
}

header ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 100%;
    cursor: pointer;
    transition: box-shadow .3s ease;
    &:hover{
        box-shadow: 0 0px 10px var(--select-tab-shadow) inset;
    }
}

header ul li a{
    font-size: 1.3rem;
    color: var(--header-text-color);
    display: block;
    padding: 1.6vh 0;
    text-align: center;
    text-decoration: none;
}

img {
    width: 25vh;
    border-radius: 15px;
}

/* .logout_cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-top: 1px solid var(--select-tab-border);
} */

.logout{
    margin-left: 7vh;
    margin-right: 7vh;
    width: 12vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;
    border-radius: 7px;
    text-decoration: none;
    font-family: "Anton", sans-serif;
    font-size: 1.1rem;
    color: var(--header-h2-color);
    box-shadow: 0 -2px 5px var(--button-shadow) inset;
    transition: box-shadow .2s ease-out;
    &:hover{
        box-shadow: 0 -2px 13px var(--button-shadow) inset;
    }
}

.content{
    padding-left: 3vw;
    grid-column: 2;
    overflow-y: auto;
    width: 90%;
}