{% extends 'base.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'ventas/css/reg_venta_copy.css' %}">
{% endblock extra_head %}


{% block content %}

<h1>Registrar Venta</h1>

<div class="buscador">
  <input type="text" id="search" placeholder="Buscar producto...">
</div>

<div class="productos_container">
  <div class="productos">
    <div class="producto" data-id="1" data-precio="16499">
      <img src="{% static 'img/laptop_inspiron.jpg' %}" alt="">
      <h3>Laptop Dell Inspiron 15</h3>
      <p>
        <b>Descripción:</b> Computadora portátil con procesador Intel Core i5 de 12ª
        generación, 16 GB de RAM, SSD de 512 GB y pantalla Full HD de
        15.6”.
      </p>
      <p>
        <b>Garantía:</b> 4 años
      </p>
      <p><b>Precio:</b> $16,499 MXN</p>
      <div class="cantidad-control">
        <button class="restar">−</button>
        <span class="cantidad">0</span>
        <button class="sumar">+</button>
      </div>
    </div>
  </div>
  
  <div class="productos">
    <div class="producto" data-id="2" data-precio="2199">
      <img src="{% static 'img/router.jpg' %}" alt="">
      <h3>Router TP-Link AX1800</h3>
      <p>
        <b>Descripción:</b> Router de doble banda con tecnología Wi-Fi 6.
      <p><b>Conectividad:</b> Wi-Fi, USB</p>
      <p><b>Compatibilidad:</b> Windows, macOS, Android, iOS</p>
  
      <p>
        <b>Garantía:</b> 1 año
      </p>
      <p><b>Precio:</b> $2,199 MXN</p>
      <div class="cantidad-control">
        <button class="restar">−</button>
        <span class="cantidad">0</span>
        <button class="sumar">+</button>
      </div>
    </div>
  </div>
  
  <div class="productos">
    <div class="producto" data-id="3" data-precio="1899">
      <img src="{% static 'img/discoduro.jpg' %}" alt="">
      <h3>Disco Duro Externo 2TB</h3>
      <p>
        <b>Descripción:</b>Almacenamiento portátil USB 3.0, perfecto para respaldos y
        transferencia de grandes volúmenes de información.
      </p>
      <p><b>Compatibilidad:</b> Windows, macOS, Android, iOS</p>
  
      <p>
        <b>Garantía:</b> 1 año
      </p>
      <p><b>Precio:</b> $1,899 MXN</p>
      <div class="cantidad-control">
        <button class="restar">−</button>
        <span class="cantidad">0</span>
        <button class="sumar">+</button>
      </div>
    </div>
  </div>
  
  <div class="productos">
    <div class="producto" data-id="4" data-precio="20999">
      <img src="{% static 'img/monitor.jpg' %}" alt="">
      <h3>Monitor LG 24” Full HD</h3>
      <p>
        <b>Descripción:</b> Monitor IPS con resolución 1920x1080. Incluye puertos HDMI y VGA
      </p>
      <p>
        <b>Garantía:</b> 5 año
      </p>
      <p><b>Precio:</b> $20,999 MXN</p>
      <div class="cantidad-control">
        <button class="restar">−</button>
        <span class="cantidad">0</span>
        <button class="sumar">+</button>
      </div>
    </div>
  </div>
  
  <div class="productos">
    <div class="producto" data-id="5" data-precio="3299">
      <img src="{% static 'img/kit.jpg' %}" alt="">
      <h3>Kit de Teclado y Mouse Inalámbrico Logitech</h3>
      <p>
        <b>Descripción:</b> Kit ergonómico con conectividad inalámbrica, silencioso y de larga
        duración de batería.
  
      </p>
      <p><b>Conectividad:</b> USB</p>
      <p><b>Compatibilidad:</b> Windows y macOS</p>
  
      <p>
        <b>Garantía:</b> 1 año
      </p>
      <p><b>Precio:</b> $3,299 MXN</p>
      <div class="cantidad-control">
        <button class="restar">−</button>
        <span class="cantidad">0</span>
        <button class="sumar">+</button>
      </div>
    </div>
  </div>
  
  <div class="productos">
    <div class="producto" data-id="6" data-precio="5000">
      <img src="{% static 'img/audifonos.jpg' %}" alt="">
      <h3>Audífonos con micrófono Jabra</h3>
      <p>
        <b>Descripción:</b> CAudífonos profesionales con cancelación de ruido y micrófono
        integrado
      </p>
      <p><b>Conectividad:</b> USB, Bluetooth</p>
      <p><b>Compatibilidad:</b> Windows, macOS, Android, iOS</p>
  
      <p>
        <b>Garantía:</b> 1 año
      </p>
      <p><b>Precio:</b> $5,000 MXN</p>
      <div class="cantidad-control">
        <button class="restar">−</button>
        <span class="cantidad">0</span>
        <button class="sumar">+</button>
      </div>
    </div>
  </div>
</div>

<div class="bottom">
  <div id="venta_container" class="venta_container">
    <button id="btn_cancelar_venta">Cancelar</button>
    <button id="btn_registrar_venta">Pagar</button>
    <p id="subtotal_text">Subtotal: $0.00</p>
    <p id="iva_text">IVA (16%): $0.00</p>
    <p id="total_text">Total: $0.00</p>
  </div>
</div>

<div class="venta_modal" id="venta_modal">
  <h2>Ticket de venta</h2>
  <div class="ticket_list" id="ticket_list">
    <!-- Lista de productos se llenará aquí -->
  </div>
  <div class="totales">
    <div>Subtotal:</div> <div id="modal_subtotal">$0.00</div>
  </div>
  <div class="totales">
    <div>IVA (16%):</div> <div id="modal_iva">$0.00</div>
  </div>
  <div class="totales" style="font-size:18px;">
    <div><b>Total:</b></div> <div id="modal_total"><b>$0.00</b></div>
  </div>
  <form id="venta_form" method="post">
    {% csrf_token %}
    <button type="button" id="confirmar_venta">Confirmar Compra</button>
    <button type="button" id="cancelar_venta">Cancelar</button>
  </form>
</div>


<div class="facturacion_modal" id="facturacion_modal" style="display: none;">
  <h2>¿Deseas facturar esta compra?</h2>
  <button id="facturar_si">Sí</button>
  <button id="facturar_no">No</button>
</div>

<!-- Formulario de facturación -->
<div class="factura_form" id="factura_form" style="display: none;">
  <h3>Formulario de Facturación</h3>
  
  <label for="nombre">Nombre:</label>
  <input type="text" id="nombre" name="nombre" required>
  
  <label for="rfc">RFC:</label>
  <input type="text" id="rfc" name="rfc" required>
  
  <label for="direccion">Dirección:</label>
  <input type="text" id="direccion" name="direccion" required>
  
  <label for="correo">Correo Electrónico:</label>
  <input type="email" id="correo" name="correo" required>
  
  <label for="telefono">Teléfono:</label>
  <input type="tel" id="telefono" name="telefono" required>
  
  <label for="uso_cfdi">Uso del CFDI:</label>
  <select id="uso_cfdi" name="uso_cfdi" required>
    <option value="gastos_generales">Gastos en general</option>
    <option value="adquisicion_bienes">Adquisición de bienes</option>
    <option value="servicios">Servicios</option>
    <option value="otros">Otros</option>
  </select>
  
  <button type="submit">Enviar</button>
</div>



<div class="modal_overlay" id="modal_overlay"></div>





{% endblock content %}

{% block scripts %}
<script>
  const registrarVentaUrl = "{% url 'ventas:registrar_venta_copy' %}";
</script>
<script src="{% static 'ventas/js/registrar_venta_prof.js' %}"></script>
{% endblock scripts %}