<!DOCTYPE html>
<html lang="es">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/logoTecno.jpeg' %}">
    {% comment %} <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Bungee+Spice&display=swap" rel="stylesheet"> {% endcomment %}

    <title>{% block title %}TecnoPlus{% endblock title %}</title>
    {% block extra_head %}{% endblock extra_head %}
</head>
<body>
    <header>
        <nav class="sidebar">
            
            <ul>
                <li><a href="{% url 'core:inicio' %}">Inicio</a></li>
                <li><a href="{% url 'ventas:registrar_venta_copy' %}">Productos</a></li>
                <li><a href="{% url 'ventas:listar_ventas' %}">Historial de compras</a></li>
            </ul>
        </nav>
    </header>
    <section class="content">
        {% block content %}{% endblock content %}
    </section>
    {% block scripts %}{% endblock scripts %}
</body>
</html>
