{% extends 'sesion.html' %}

{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'usuarios/css/registro.css' %}">
{% endblock extra_head %}


{% block content %}

<form method="post" class="registro-form">
  {% csrf_token %}
  
  <h2>Crear cuenta</h2>

  {{ error }}

  <p class="campo">
    {{ form.username.label_tag }}<br>
    {{ form.username }}
    {% if form.username.errors %}
      <ul class="error-list">
        {% for error in form.username.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </p>
  <p class="campo">
    {{ form.first_name.label_tag }}<br>
    {{ form.first_name }}
    {% if form.first_name.errors %}
      <ul class="error-list">
        {% for error in form.first_name.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </p>
  <p class="campo">
    {{ form.primer_apellido.label_tag }}<br>
    {{ form.primer_apellido }}
    {% if form.primer_apellido.errors %}
      <ul class="error-list">
        {% for error in form.primer_apellido.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </p>
  <p class="campo">
    {{ form.segundo_apellido.label_tag }}<br>
    {{ form.segundo_apellido }}
    {% if form.segundo_apellido.errors %}
      <ul class="error-list">
        {% for error in form.segundo_apellido.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </p>
  <p class="campo">
    {{ form.email.label_tag }}<br>
    {{ form.email }}
    {% if form.email.errors %}
      <ul class="error-list">
        {% for error in form.email.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </p>
  <p class="campo">
    {{ form.telefono.label_tag }}<br>
    {{ form.telefono }}
    {% if form.telefono.errors %}
      <ul class="error-list">
        {% for error in form.telefono.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </p>
  <p class="campo">
    {{ form.direccion.label_tag }}<br>
    {{ form.direccion }}
    {% if form.direccion.errors %}
      <ul class="error-list">
        {% for error in form.direccion.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </p>
  <p class="campo">
    {{ form.password1.label_tag }}<br>
    {{ form.password1 }}
    {% if form.password1.errors %}
      <ul class="error-list">
        {% for error in form.password1.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </p>
  <p class="campo">
    {{ form.password2.label_tag }}<br>
    {{ form.password2 }}
    {% if form.password2.errors %}
      <ul class="error-list">
        {% for error in form.password2.errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  </p>
    
  <button type="submit">Crear cuenta</button>
  <button type="button" onclick="location.href='{% url 'usuarios:signin' %}'">Iniciar sesión</button>
  {% comment %} <button type="button" onclick="location.href="{% url 'usuarios:recuperar_contrasena' %}'">Recuperar contraseña</button>
  <button type="button" onclick="location.href="{% url 'usuarios:home' %}'">Volver a la página principal</button> {% endcomment %}
</form>


{% endblock content %}